*.iml
.gradle
*.db
*.apk
/local.properties
/.idea
/.idea/misc.xml
.DS_Store
/build
/captures
app/src/main/assets/back.db
/app/src/main/java/com/core/KeyStoreCommon.java
/AreaKeyStore.jks
/signing.properties
/name.ts
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
